.App{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
.side-bar, .chat-section{
  box-sizing: border-box;
  height:100%;
}
.side-bar{
  width: 25%;
}
.chat-section{
 width: 75%;
  background-color:#edf1f5;
}